.about{
    height:fit-content;
    width:70%;
   
    margin:auto;
    color:rgb(255, 255, 255)
    
}
.about h2{
    font-weight:lighter;
    letter-spacing: 3px;
    display:inline-block;
    position: relative;
}
.about h2::before{
    position:absolute;
    content:'';
    height:2px;
    width:110%;
    bottom:-10px;
    background:white;
}
.aboutCard{
    height:fit-content;
    width:100%;
    
    margin-top: 40px;
    display:flex;
    justify-content: start;
    gap:50px;

}
.aboutCardImage{
    height:90px;
    width:90px;
    
    border-radius:50%;

}
.aboutCardImage img{
    border-radius: 50%;
}
.aboutCardContent{
    height:fit-content;
    width:90%;
   
    display:flex;
    justify-content: space-between;

}
.para{
    height:fit-content;
    width:35%;
    
    
}
.para p{
    font-family: 'Courier New', monospace;
}
.para button{
    height:40px;
    width:130px;
    border-radius: 20px;
    border:0px solid red;
    background-color: rgb(113, 73, 201);
    color:white;
    font-family:monospace;

}
.graph{
    height:fit-content;
    width:55%;
   
}
.graph b{
    font-weight: lighter;
    letter-spacing: 3px;

}
.ui{
    height:7px;
    width:100%;
    margin-top:10px;
    border-radius:3.5px;
   
}
.uiPer{
    height:7px;
    width:90%;
    border-radius:3.5px ;
    background-color: magenta;

}
.jsPer{
    height:7px;
    width:85%;
    border-radius:3.5px ;
    background-color: rgb(60, 165, 85);

}
.reactPer{
    height:7px;
    width:94%;
    border-radius:3.5px;
    background-color: rgb(165, 198, 59);
}
.graphicsPer{
    height:7px;
    width:90%;
    background-color: aquamarine;
    border-radius:3.5px;

}
#about{
    /* background-color: rgb(226, 71, 32); */
    margin-left: 80px;

}
@media only screen and (max-width: 767px){
    .aboutCard{
        width:100%;
        flex-direction: column;
        align-items: center;
        gap:20px;

    }
    .aboutCardContent{
        width:100%;
        height:fit-content;
    }
    .aboutCardImage{
        height:70px;
        width:70px;
    }
    .aboutCardContent{
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .para{
        width:90%;
        text-align: center;

    }
    .graph{
        width:90%;
    }
    .aboutMe{
        width:100%;
        text-align: center;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1212px){
    .aboutCard{
        width:100%;

        

    }
    .aboutCardContent{
        width:100%;
        height:fit-content;
    }
    .aboutCardImage{
        height:60px;
        width:70px;
        object-fit: cover;
    }
    .aboutCardContent{
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .para{
        width:90%;

    }
    .graph{
        width:90%;
    }

}