.bio{
    height:fit-content;
    width:70%;
    color:black;
    background-color: ;
    margin:80px auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center ;
   
    color:white;
   
}
.bio h2{
    font-family: cursive;
    letter-spacing: 4px;
    white-space: nowrap;
}
.social{
    height:100px;
    width: 50px;
    
    display:flex;
    justify-content: center;
    gap:8px;
    align-items: center;
    flex-direction: column;
    margin-left:30px;

}
.contentBio{
    width:35%;
    height:200px;
   
    text-align: center;
}
.contentBio p{
    /* border:1px solid white; */
    height:100px;
    height:fit-content
}
.bioImg{
    height:200px;
    width:200px;
    margin-right:30px;
    
    border-radius: 10% 30% 50% 70%;

}
.bioImg img{
    border-radius:10%;
    border-radius: 10% 30% 50% 70%;

}
.bio button{
    height:30px;
    width:100px;
    border-radius: 10%;
    border:0px;
    background:rgb(89, 38, 159);
    color:white;
    cursor:pointer;
}
.bio p{
    font-family: 'Courier New', monospace;
}
.wrapper{
    height: fit-content;
    width:100%;
    color:white;
    margin-left: -80px;
    display:flex;
  
}
.bioHeader{
    position:absolute;
    left:30px;
    top:50px;
    display:none;

}
.bioHeader ul{
    position: fixed;
    display:flex;
    flex-direction: column;
    gap:10px;

}
.bioHeader ul li{
    list-style: none;
    font-size: 20px;

}
.bioHeader ul li a{
    color:white;
}
.insta a{
    color:white;
}
.git a{
    color:white
}
.linkedin a{
    color:white;
}
@media only screen and (max-width: 767px) {
    .bio{
        flex-direction: column-reverse;
        gap:30px;
        margin:20px auto;
    }
    .social{
        width:200px;
        height:fit-content;
        flex-direction: row;
        margin-left:0px;
    }
    .contentBio{
        width:fit-content;
        height: fit-content;
        /* background-color: brown; */
    }
    .bioImg{
        margin-right: 0px;
    }
    .bioHeader{
        display:block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .bio{
        width:93%;
        
    }
}