.serviceMain{
    height:fit-content;
    width:fit-content;
    /* background-color: brown ; */
    margin:auto;
   
   
}
.serviceContent{
    color:white;
    font-weight: lighter;
    width:70%;
    height:fit-content;
   
    margin:auto;
}
.serviceContent h2{
    font-weight: lighter;
    letter-spacing: 3px;
    position:relative;
    display: inline-block;
}
.serviceContent h2::before{
    position:absolute;
    content:"";
    height:1.5px;
    width:110%;
    background:rgb(240, 236, 239);
    bottom:-8px;

}
.serviceCard{
    height:fit-content;
    width:fit-content;
    /* background-color: aquamarine; */
    display:grid;
    grid-template-columns: auto auto;
   
    margin: 20px auto;
    
    place-items: center;
    grid-gap:0px;
    padding-bottom:20px;
    
}
.card{
    height:220px;
    width:200px;
    border-radius: 20px;
    /* box-shadow: rgb(13, 101, 175) 0px 50px 100px -20px, rgba(30, 37, 110, 0.889) 0px 20px 0px -30px, rgba(10, 37, 64, 0.35) 0px -2px 1px 0px inset; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 20px;
}
.cardImg{
    height:30px;
    width:30px;
 
    margin:auto;
    
    border-radius:50%;
}
.cardImg img{
    border-radius: 50%;
}
.cardName{
    color:white;
    width:100%;
    text-align: center;
    font-family: monospace;
    padding:8px;

}
.cardDes{
    width:100%;
    color:white;
    text-align: center;
    font-size: small;
    font-family: serif;

}
@media only screen and (max-width: 767px) {
    .serviceMain{
        height:fit-content;
        width:fit-content;
        /* background-color: brown ; */
        margin:auto;
       
       
    }
    .serviceContent{
        color:white;
        font-weight: lighter;
        width:70%;
        height:fit-content;
       
        margin:auto;
    }


    
    .serviceMain{
        /* background-color: aqua; */
        margin: auto;
        
    }
    .serviceContent{
        width:100%;
        text-align: center;
        
    }
    .serviceCard{
        flex-direction: column;
        padding-left: 0px;
        grid-template-columns: auto;
    }
    .card{
        height:240px;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .serviceMain{
        /* background-color: rgb(109, 25, 173); */
    }
    .serviceCard{
        width:fit-content;
        gap:10px;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1900px) {
    .serviceMain{
        /* background-color: rgb(121, 24, 102); */
    }
    .serviceCard{
        width:70%;
        gap:10px;
    }
}